<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.proteacoin.assetmanagement.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/amicon"
        android:label="@string/app_name"
        android:name=".GlobalState"
        android:theme="@style/CustomTheme" >
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectOwner"
            android:configChanges="orientation|screenSize|keyboardHidden" >
        </activity>
        <activity
            android:name=".CompanyInit_Activity"
            android:launchMode="singleTop"
            android:label="Init Device">
            <intent-filter>
                <action android:name="android.intent.action.CompanyInit_Activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAsset"
            android:launchMode="singleTop"
            android:label="Create Asset">
            <intent-filter>
                <action android:name="android.intent.action.CompanyInit_Activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateAsset"
            android:launchMode="singleTop"
            android:label="Update Asset">
            <intent-filter>
                <action android:name="android.intent.action.CompanyInit_Activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
